h1 {
    color: blue;
}

h2 {
  color: rgb(62, 3, 71);
  text-align: center;
  font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    text-align: center;
}

body {
background-color: #deaadb;

}

.logoRW {
    text-align: center;
}

.links {
    text-align: right;
}

.logo {
    width: 800px;
    height: auto;
}

.xlogo {
    width: 60px;
    height: auto;
    text-align: center;
}

.logo67{
    width: 70px;
    height: auto;
    text-align: center;
}

.glogo {
    width: 125px;
    height: auto;
    text-align: center;
}