h1 {
    color: blue;
}

h2 {
  color: red;
}

h3 {
    color: black;
    font-size: 20px;
}

.logoRW {
    text-align: center;
}

.logo {
    width: 420px;
    height: auto;
}

.xlogo {
    width: 270px;
    height: auto;
}